/* ==========================
   IMPORTACIÓN DE ABSTRACTS
   Variables, mixins, funciones y utilidades globales.
========================== */

@use "abstracts/colors";
@use "abstracts/mixins";
@use "abstracts/typography";
@use "abstracts/variables";

/* ==========================
   IMPORTACIÓN DE COMPONENTES
   Botones, tarjetas, tablas, formularios y elementos reutilizables.
========================== */

@use "components/botones";
@use "components/selector";
@use "components/tablas";

/* ==========================
   IMPORTACIÓN DE LAYOUTS
   Estructura principal de la aplicación (header, sidebar, footer, etc.).
========================== */

@use "layouts/header";
@use "layouts/sidebar";

/* ==========================
   IMPORTACIÓN DE PÁGINAS
   Estilos específicos de cada vista o página.
========================== */

@use "pages/cursos";
@use "pages/gestion-tablas";
@use "pages/home";
@use "pages/index";
@use "pages/noticias";
@use "pages/tareas";
@use "pages/perfil";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

main{
    display: flex;
    flex-direction: column;
    align-content: center;

    width: 100%;
    height: auto;

    padding-top: 10vh;
    padding-left: 80px;
}