//==================================================
// IMPORTACIONES
//==================================================

@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/typography" as *;
@use "../abstracts/variables" as *;

#navbar{
    position: fixed;
    z-index: 1000;
    display: flex;

    @include size(100vw, 10vh);

    background-color: $background;
    border-bottom: 1px solid $text;
    @include shadow($shadow-md);

    justify-content: flex-end;
    align-items: center;


    @media (max-width: 768px) {    
        justify-content: flex-end;
        align-items: center;
        padding:(0);
        padding-right:(1rem);
    } 
}

.header__user{
    display: flex;
    @include size(flex-end,center);
    padding:(0.3rem,1rem);
    gap: 20px;

    @media (max-width: 768px) {    
       padding:(0.2rem);
    }
}

.header__balance{
    display: flex;
    @include size(auto,auto);
    align-items: center;
    padding:(0.3rem);
    gap: 5px;

    border-radius: $radius-pill;
    border: 1px solid $text;

    background-color: $background;

    user-select: none;

    .header__balance-icon{
        overflow: hidden;
        @include size(2rem,2rem);

        img{
            @include size(100%,100%);
            object-fit: cover;
        }
    }

    span{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding:(0.3rem);

        text-decoration: none;
        @include font-primary;
        font-size: $font-sm;
        font-weight: 400;
        text-transform: capitalize;
        color: $text;

        cursor: pointer;

    }
}


.header__profile{
    display: flex;
    @include size(auto,100%);
    align-items: center;
    gap: 7px;

    .header__profile-image{
        overflow: hidden;
        @include size(2.7rem,2.7rem);

        border: 1px solid $text;
        border-radius: $radius-pill;

        img{
            @include size(100%,100%);
            object-fit: cover;
        }
    }

    a{
        @include size(150px,auto);

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        text-decoration: none;
        @include font-secondary;
        font-size: $font-md;
        font-weight: 400;
        text-transform: capitalize;
        color: $text;

        @media (max-width: 768px) {
            display: none;
        }
    }
}