//==================================================
// IMPORTACIONES
//==================================================

@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/typography" as *;
@use "../abstracts/variables" as *;

body{
    background-color: $surface;
}


//==================================================
// SIDEBAR PRINCIPAL
//==================================================

#main-sidebar {
    position: fixed;
    z-index: 1001;

    display: flex;
    flex-direction: column;

    @include size(300px, 100vh);
    max-width: 60%;

    background-color: $background;
    color: $text;

    @include shadow($shadow-md);

    transition: width .3s ease;

    &.closed {
        @include size(80px, 100vh);
    }
}


//==================================================
// HEADER
//==================================================

#sidebar-header {
    position: relative;

    @include flex-center;
    @include size(100%, 10vh);

    min-height: 10vh;

    background-color: $background;
    border-bottom: 1px solid $text;

    @include font-primary;

    //==============================================
    // Contenedor del logo y títulos
    //==============================================

    .sidebar__header-absolut {
        @include flex-center;
        @include size(100%);

        padding: .5rem .8rem;
        gap: .8rem;
    }

    //==============================================
    // Botón para expandir / contraer
    //==============================================

    .sidebar__toggle-container {
        position: absolute;
        left: 93%;

        @include flex-center;
        @include size(3rem);

        font-size: $font-xl;

        background: linear-gradient(-135deg, $primary, $primary-dark);


        border-radius: $radius-pill;
        border: 4px solid $background;

        color: $background;
        cursor: pointer;

        transition: left $transition-normal ease, transform $transition-slow ease;


        &.closed {
            left: 110%;
            background: linear-gradient(-135deg, $primary, $primary-dark);
            transform: rotate(180deg);
        }
    }
}


//==================================================
// LOGO
//==================================================

.sidebar__logo-container {
    @include flex-center;
    @include size(48px);

    padding: .4rem;

    background: linear-gradient(135deg, $primary, $primary-dark);

    border-radius: $radius-lg;

    svg {
        display: flex;

        @include size(35px);

        color: $background;
    }
}


//==================================================
// TITULO
//==================================================

.sidebar__title-container {
    @include flex($justify: center);
    flex-direction: column;

    overflow: hidden;

    @include size(100%, 100%);

    opacity: 1;
    visibility: visible;

    transition: opacity .3s ease;

    .sidebar__title {
        font-size: $font-md;
        font-weight: 600;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .sidebar__subtitle {
        font-size: $font-sm;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.closed {
        position: absolute;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

//==================================================
// CONTENEDOR DEL MENÚ
//==================================================

.sidebar__menu-container {
    display: flex;

    @include size(100%, 100%);

    overflow-y: auto;
    overflow-x: hidden;

    padding: 1rem;

    user-select: none;
}


//==================================================
// LISTA DEL MENÚ
//==================================================

.sidebar__menu-list {
    display: flex;
    flex-direction: column;

    @include size(100%, auto);

    list-style: none;
    gap: .8rem;

    a{
        text-decoration: none;
        color: $text;
    }
}


//==================================================
// ITEM DEL MENÚ
//==================================================

.sidebar__menu-item {
    @include flex($justify: flex-start, $align: center, $direction: column);
    @include size(100%, auto);

    cursor: pointer;

    //==============================================
    // Contenedor del enlace
    //==============================================

    .sidebar__link-wrapper {
        @include flex($justify: flex-start, $align: center);
        @include size(100%, auto);

        padding: .6rem;
        gap: .5rem;

        @include font-primary;

        font-size: $font-sm;
        font-weight: 600;
        text-transform: capitalize;

        opacity: 1;
        visibility: visible;

        transition: justify-content .3s ease;


        //==========================================
        // Icono
        //==========================================

        i{
            font-size: $font-lg;
            color: $text;
        }


        //==========================================
        // Texto del enlace
        //==========================================

        .sidebar__text {
            @include flex($justify: flex-start, $align: center);

            line-height: 1;

            opacity: 1;
            visibility: visible;

            transition: opacity .3s ease;

            &.closed {
                position: absolute;

                opacity: 0;
                visibility: hidden;
                pointer-events: none;
            }
        }


        //==========================================
        // Sidebar contraído
        //==========================================

        &.closed {
            @include flex-center;
        }
    }


    //==============================================
    // Línea inferior
    //==============================================

    .sidebar__link-wrapper-li {
        @include size(0%, 1.5px);
        min-height: 1.5px;

        background: linear-gradient(135deg, $primary-light, $primary);

        border-radius: $radius-pill;

        transition: width $transition-slow ease;
    }


    //==============================================
    // Página activa
    //==============================================

    .sidebar__link-wrapper-li.location {
        @include size(100%, 1.5px);
        min-height: 1.5px;
    }


    //==============================================
    // Hover
    //==============================================

    &:hover .sidebar__link-wrapper-li {
        @include size(100%, 1.5px);
        min-height: 1.5px;
    }
}
//==================================================
// FOOTER
//==================================================

.sidebar__footer {
    @include flex-center;

    flex-direction: column;

    @include size(100%, auto);

    padding: 1rem 1rem 2rem;
    gap: .8rem;

    background-color: $background;
    border-top: 1px solid $text;

    .theme-toggle{
        overflow: hidden;
        position: relative;
        @include size(100%, 2.2rem);

        background-color: $background;
        border: 1px solid $text;
        border-radius: $radius-pill;

        cursor: pointer;

        .theme-toggle__icons{
            z-index: 5;
            position: absolute;
            inset: 0; 
            @include flex-between;
            @include size(100%, 100%);

            padding: 5px;

            .theme-toggle__icon{
                @include flex-center;
                @include size(100%, auto);

                line-height: 1;
                font-size: $font-md;
                color: $background;
            }

            #moon_icon{
                color: $text;
                transition: color $transition-slow ease;
            }
    
            #sun_icon{
                color: $background;
                transition: color $transition-slow ease;
            }

            #moon_icon.theme{
                color: $background;
            }
            #sun_icon.theme{
                color: $text;
            }
        }

        #theme-toggle__slider{
            position: absolute;
            inset: 0; 
            @include size(50%,100%);

            background-color: $text;
            border-radius: $radius-pill;

            transition: transform $transition-normal ease;
        }
        #theme-toggle__slider.theme{
            transform: translateX(100%);
        }
    }


    //==============================================
    // Botones
    //==============================================

    .sidebar__button{
        @include flex-center;

        @include size(100%, auto);

        padding: .6rem;
        gap: .5rem;

        background: $text;

        border: none;
        border-radius: $radius-pill;

        cursor: pointer;

        transition: transform .2s ease;


        &:hover {
            transform: translateY(-2px);
        }

        &:active {
            transform: scale(.98);
        }


        //==========================================
        // Iconos
        //==========================================

        i {
            size: $font-lg;
            line-height: 1;
            color: $background;
        }
    }

    //==============================================
    // Texto del botón Salir
    //==============================================

    #sidebar-btn-logout-text {
        @include font-secondary;

        font-size: 16px;
        text-transform: uppercase;
        line-height: 1;

        opacity: 1;
        visibility: visible;

        transition: opacity .3s ease;
        color: $background;


        &.closed {
            position: absolute;

            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
    }
}



@media (min-width: $breakpoint-laptop) {

    //==================================================
    // SIDEBAR PRINCIPAL
    //==================================================

    #main-sidebar {
        @include size(330px, 100vh);
    }

    //==================================================
    // HEADER
    //==================================================

    #sidebar-header {
        @include size(100%, 10vh);
        min-height: 10vh;

        //==============================================
        // Botón para expandir / contraer
        //==============================================

        .sidebar__toggle-container {
            @include size(2.8rem);
        }
    }

    //==================================================
    // LISTA DEL MENÚ
    //==================================================

    .sidebar__menu-list {
        gap: .5rem;
    }

    //==================================================
    // ITEM DEL MENÚ
    //==================================================

    .sidebar__menu-item {
        @include flex($justify: flex-start, $align: center, $direction: column);
        @include size(100%, auto);

        cursor: pointer;

    }

}